$orange: #fa824c;
$blue: #40749a;
$yellow: #f0da50;

$extra-bold: 800;

// Colors
.orange {
	color: $orange;
}

.blue {
	color: $blue;
}

.yellow {
	color: $yellow;
}

// Font weights
.light-100 {
	font-weight: 100;
}

.extra-bold {
	font-weight: $extra-bold;
}

// Utilities
.bold-link {
	border-bottom: 1px dashed;
    cursor: pointer;
}

.mg-btm-50 {
	margin-bottom: 50px;
}

// Introduction section
.intro {
	img	{
		padding: 10px;
		height: 150px;
    	width: 150px;    	
	}

	.quill-logo {
		margin-left: 65px;
	}

	.js-logo {
	    width: 110px;
	    height: 110px;
	    margin-top: 18px;
	}	
}

// Title section
.titles {
	margin-top: 100px;

	a, a:hover {
		text-decoration: none;
	}

	.heading1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}
	.heading2 {
		font-size: 36px;
	}
}

// Speakers section
.speakers {
	margin-top: 200px;
	margin-bottom: 200px;

	> .row {
		margin-top: 10px;
	}

	.speaker-dp {
		height: 200px;
		width: 200px;
	}
}

.in-btn {
	padding: 20px 60px;
    border: 1px solid;
    margin-top: 100px;
    display: block;
    background: $orange;
    color: white;
}

.cta {
	a, a:hover {
		text-decoration: none;
		color: white;
	    border: none;
	}
}